spring/src/main/resources/META-INF/catty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2020 The Catty Project
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~ http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xsd:schema xmlns="http://catty.pink/schema/catty"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tool="http://www.springframework.org/schema/tool"
  targetNamespace="http://catty.pink/schema/catty">

  <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>
  <xsd:import namespace="http://www.springframework.org/schema/tool"/>
  <xsd:import namespace="http://www.springframework.org/schema/beans"/>

  <xsd:annotation>
    <xsd:documentation><![CDATA[ Namespace support for the catty. ]]></xsd:documentation>
  </xsd:annotation>

  <xsd:element name="server-config">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID"/>
      <xsd:attribute name="port" type="xsd:int" use="required">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Port. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="worker-num" type="xsd:int" default="256">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Worker thread number. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="min-worker-num" type="xsd:int" default="128">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Worker thread number. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="max-worker-num" type="xsd:int" default="256">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Worker thread number. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="client-config">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID"/>
      <xsd:attribute name="timeout" type="xsd:int" default="999999">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Timeout. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="addresses" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Addresses, split by ';'. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="protocol" id="protocol">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID"/>
      <xsd:attribute name="codec" type="xsd:string" default="catty">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Codec. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="serialization" type="xsd:string" default="hessian2">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Serialization. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="endpoint" type="xsd:string" default="netty">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Endpoint. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="load-balance" type="xsd:string" default="random">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ LoadBalance. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="cluster" type="xsd:string" default="fail-fast">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Cluster Type. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="retry-times" type="xsd:int" default="1">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Retry Times. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="recovery-period" type="xsd:int" default="3000">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Recovery Period. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="heartbeat-period" type="xsd:int" default="30000">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Heartbeat Period, if < 0, disable heartbeat & health-check. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="reference">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID"/>
      <xsd:attribute name="protocol" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Protocol. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="client-config" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Protocol. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="interface" type="xsd:token" use="required">
        <xsd:annotation>
          <xsd:documentation>
            <![CDATA[ Interface. ]]></xsd:documentation>
          <xsd:appinfo>
            <tool:annotation>
              <tool:expected-type type="java.lang.Class"/>
            </tool:annotation>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="service">
    <xsd:complexType>
      <xsd:attribute name="id" type="xsd:ID"/>
      <xsd:attribute name="interface" type="xsd:token" use="required">
        <xsd:annotation>
          <xsd:documentation>
            <![CDATA[ Interface. ]]></xsd:documentation>
          <xsd:appinfo>
            <tool:annotation>
              <tool:expected-type type="java.lang.Class"/>
            </tool:annotation>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="ref" type="xsd:token" use="required">
        <xsd:annotation>
          <xsd:documentation>
            <![CDATA[ Implement. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

  <xsd:element name="exporter">
    <xsd:complexType>
      <xsd:choice minOccurs="0" maxOccurs="unbounded">
        <xsd:element ref="service" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:choice>
      <xsd:attribute name="id" type="xsd:ID"/>
      <xsd:attribute name="protocol" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Protocol. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
      <xsd:attribute name="server-config" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation><![CDATA[ Protocol. ]]></xsd:documentation>
        </xsd:annotation>
      </xsd:attribute>
    </xsd:complexType>
  </xsd:element>

</xsd:schema>
